@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 55 60% 98%;
    --foreground: 55 61% 1%;
    --muted: 25 37% 93%;
    --muted-foreground: 25 1% 37%;
    --popover: 55 60% 98%;
    --popover-foreground: 55 61% 1%;
    --card: 55 60% 98%;
    --card-foreground: 55 61% 1%;
    --border: 55 9% 88%;
    --input: 55 9% 88%;
    --primary: 55 95% 65%;
    --primary-foreground: 55 95% 5%;
    --secondary: 25 95% 65%;
    --secondary-foreground: 25 95% 5%;
    --accent: 85 95% 65%;
    --accent-foreground: 85 95% 5%;
    --destructive: 7 86% 71%;
    --destructive-foreground: 7 86% 11%;
    --success: 159 82% 58%;
    --success-foreground: 159 82% 18%;
    --warning: 40 99% 71%;
    --warning-foreground: 40 99% 11%;
    --info: 210 75% 79%;
    --info-foreground: 210 75% 19%;
    --ring: 55 95% 65%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 55 55% 0%;
    --foreground: 55 16% 100%;
    --muted: 25 37% 7%;
    --muted-foreground: 25 1% 63%;
    --popover: 55 55% 0%;
    --popover-foreground: 55 16% 100%;
    --card: 55 55% 0%;
    --card-foreground: 55 16% 100%;
    --border: 55 9% 14%;
    --input: 55 9% 14%;
    --primary: 55 95% 65%;
    --primary-foreground: 55 95% 5%;
    --secondary: 25 95% 65%;
    --secondary-foreground: 25 95% 5%;
    --accent: 85 95% 65%;
    --accent-foreground: 85 95% 5%;
    --destructive: 7 82% 12%;
    --destructive-foreground: 7 82% 72%;
    --success: 116 82% 12%;
    --success-foreground: 116 82% 52%;
    --warning: 51 82% 12%;
    --warning-foreground: 51 82% 52%;
    --info: 186 82% 12%;
    --info-foreground: 186 82% 52%;
    --ring: 55 95% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
